$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'mix-in';

.question-container {
  margin-top: 25px;
}
// @include media-breakpoint-up (sm){
//   .question-one {
//     margin-top: 159px;
//   }
// }

// @media (max-width: 412px){
//     .question-one { margin-top: 150px;}
// }

div.question-one {
  margin-top: 150px;
  position: relative;
  }

body
 {
  padding-top: 119px;
 }

 div.question-one {
   @include breakpoint(tiny) {
    margin-top: 300px;
   }
 }

 .container > h1 {
   @include breakpoint(tiny) {
     font-size: 16pt;
   }
 }

 .answers {
   border-style: solid;
   margin: 5px;
   border-color: #330033;
 }

#update-song-id, #update-artist, #update-title, #update-links {
   color: #c6ff1a;
 }

 .qtext {
   color: #99ccff
 }

 .container {
   background-color: #99ccff;
   color: purple;
}
   .q1, p, h4 {
     color: purple;
   }

  //  buttons
   #nav-sign-up, #nav-sign-in, #nav-options, #display-playlist, #delete-playlist, #update-song {
     background-color: #c6ff1a;
   }

   ::-webkit-input-placeholder {
   color: #99ccff;
}

.col-xs-12 {
  width: 60%;
}

.deletion, .updation {
  clear: both;
}
